.login-form {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    flex-direction: column;
    padding: 0 80px;
    form {
        width: 100%;
    }
    .form-group {
        text-align: left;
        text-transform: capitalize;
        font-weight: 600;
    }
    .form-control {
        border-radius: 0;
    }
}

.logo {
    text-decoration: none;
    &:hover img {
        transform: scale(1.1);
    }
    img {
        width: 200px;
        transition: .3s;
        margin-bottom: 40px;
    }
}

.login-box {
    height: 100%;
    position: absolute;
    width: 100%;
    overflow: hidden;
}

.height-100 {
    height: 100%;
}

.main-btn {
    background-color: #76232F;
    display: block;
    width: 100%;
    color: #fff;
    font-weight: 600;
    font-size: 18px;
    border-radius: 0;
    margin-top: 25px;
}

.bg-hotel {
    background: url('../img/1.jpg') center center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    &::after {
        content: '';
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba($color: #000000, $alpha: .7);
    }
}

.line {
    height: 1px;
    background-color: #fff;
    margin: 30px 0;
}

.hotel-text {
    z-index: 1000;
    position: absolute; 
    text-align: center;
    color: #fff;
    width: 75%;
    h3 {
        font-size: 50px;
    }
    h4 {
        font-size: 40px;
    }
}


@media screen and (max-width: 1366px) {
    .login-form {
        padding: 0 40px;
    }

    .hotel-text {
        width: 68%;
        h3 {
            font-size: 45px;
        }
        h4 {
            font-size: 25px;
        }
    }
}

@media screen and (max-width: 768px) {
    .bg-hotel {
        display: none;
    }

    .login-form {
        padding-left: 25px;
    }
}